################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FileSyncandWOPI/Source/Common/obj/Debug
/.vs
/ExchangeWebServices/Source/Common/obj/Debug
/ExchangeWebServices/Source/MS-OXWSSYNC/.vs/MS-OXWSSYNC
/ExchangeWebServices/Source/MS-OXWSSYNC/Adapter/obj/Debug
/ExchangeWebServices/Source/MS-OXWSSYNC/TestSuite/obj/Debug
